<div class="body ">
    <h5 class="padding" >
        <%= link_to "Messages", conversations_path, class: "btn btn-outline-light me-2" %>
    </h5>
</div>

<div class="newlisting">
    <h1>New Listing</h1>

    <%= render 'form', listing: @listing %>

    <%= link_to 'Back', listings_path %>
</div>
