<!DOCTYPE html>
<html>
<head>
<title>About</title>
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1">


<style>
    .about {
        padding: 50px 300px 50px 300px; 
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        
        
       
    }
    .description {
        background-color: #a9a9a9;
        color: white;
        padding: 50px;
    }

    .about-padding {
        padding: 50px;
        background-color: black;
        color: lightblue;
    }

</style>



</head>

<body>
  

    <div class="about" >
            <div class="about-padding" >
                <h1 class="about-padding">About Axion</h1>
            </div>
            
            <div class="description">
                <p>Axion connects coders and clients globally to fill the gap between them in the entrepreneurial industry.</p>

                <p>The purpose of this Axion is to provide P2P supply and demand environment where now clients (buyer side) and developers, coders and programmers (seller side) can interact with each other through a transparent direct communication.</p>

                <p>In 21st century we believe that we should have more flexibility and options in the workforce. Through this marketplace now there could be a casual, part time or full-time freelancers as an option besides working or not for a company or an organisation.</p>

                <p>On the other hand, clients who have limited financial or project capacity will now be possible to develop their entrepreneurial ambitions. Therefore, this app is benevolent and provide flexibility for both parties.</p>

                <p>We hope you to maximise and take advantage of this opportunity!</p>
            </div>
        
    </div>
</body>