<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.98.0">
    <title>Home</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/heroes/">

    
  </head>
  <body>
    
<main>
  <div class="px-4 py-5 my-5 text-center">
    
    <h1 class="display-5 fw-bold axion">Welcome to Axion&#153;</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Find your coders or clients here and make your dreams happen.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="<%= listings_path %>" type="button" class="btn btn-primary btn-lg px-4 gap-3">Find Listings</a>
        
        
      </div>
    </div>
  </div>

     

      
  </body>
</html>
